body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}
div {
    display: block;
}
body {
		margin: 40px;
	}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.menu {
	grid-area: menu;
}
.logo {
	grid-area: logo;
}
.posts {
	grid-area: posts;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 120px 120px auto;
    grid-template-rows: all;
    grid-template-areas: "logo header header" "menu posts posts";
    background-color: #fff;
    color: #444;
}
@media screen and (max-width: 1024){
  .grid-container { 
     grid-auto-columns: auto;
  }
  .posts {
  	overflow-y: visible;
  }
}