<html>
<head>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="grid-container">
		<div class="box logo"></div>
		<div class="box header">Header</div>
		<div class="box menu">Menu</div>
		<div class="box posts">PostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPosts
				PostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPosts
			PostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPosts
		PostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPosts
	PostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPostsPosts</div>
	</div>
</body>
</html>